# Time Series Project

### 0. Librraries

In [12]:
import pandas as pd
from fbprophet import Prophet
import warnings; 
warnings.simplefilter('ignore')

ModuleNotFoundError: No module named 'fbprophet'

### 1. Read dataset

In [2]:
df = pd.read_csv('dataset.csv')

In [3]:
df.head()

   Time Date  Product          Store     Value
0    1012018  2667437  QLD_CW_ST0203  2926.000
1    2012018  2667437  QLD_CW_ST0203  2687.531
2    3012018  2667437  QLD_CW_ST0203  2793.000
3    4012018  2667437  QLD_CW_ST0203  2394.000
4    5012018  2667437  QLD_CW_ST0203  2660.000

### 2. Create columns

In [4]:
df['yeaar'] = df['Time Date'].apply(lambda x: str(x)[-4 : ])
df['Month'] =df['Time Date'].apply(lambda x: str(x)[-6:-4])
df['day'] = df['Time Date'].apply(lambda x: str(x)[:-6])

In [5]:
df.head(2)

   Time Date  Product          Store     Value yeaar Month day
0    1012018  2667437  QLD_CW_ST0203  2926.000  2018    01   1
1    2012018  2667437  QLD_CW_ST0203  2687.531  2018    01   2

In [8]:
df['ds'] = pd.DatetimeIndex(df['yeaar']+'-'+df['Month']+'-'+df['day'])
df.head(2)

   Time Date  Product          Store     Value yeaar Month day         ds
0    1012018  2667437  QLD_CW_ST0203  2926.000  2018    01   1 2018-01-01
1    2012018  2667437  QLD_CW_ST0203  2687.531  2018    01   2 2018-01-02

In [11]:
trainig_set = df[['day','ds']]

In [ ]:
traini